{% extends 'base.html' %}
{% block content %}
<div class="post">
    <h1>{{ title }}</h1>
    <form class="article-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
        {% endif %}
        {% for f in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                {% if f.errors %}
                    <div class="form-error">{{ f.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
{{ form.media }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    function toggleCKEditorTheme() {
        const editorElement = document.querySelector('.ck');
        if (editorElement) {
            if (document.documentElement.classList.contains('dark-mode')) {
                editorElement.classList.add('dark-mode');
            } else {
                editorElement.classList.remove('dark-mode');
            }
        }
    }
    
    setTimeout(toggleCKEditorTheme, 500);
    
    window.matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', toggleCKEditorTheme);
});
</script>
{% endblock %}
