{% extends 'base.html' %}

{% block content %}
<div class="post">
    <h1>{{title}}</h1>
    <form class="article-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in  form %}
        <div {% if forloop.counter == 2 %} id='editor-container' class="post-content" {% elif forloop.counter == 4 %} class=""{% endif %}>
            <p><label {% if forloop.counter == 4 %}class="form-check-label" {%else%}class="form-label"{% endif %} for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
        </div>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div class="form-actions">
            <p><button class="btn btn-primary" type="submit">Отправить</button></p>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{{ form.media }}
{% endblock %}